.wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

#header {
  text-align: center;
  font-family: Helevetica, Arial, sans-serif;
  font-weight: bold;
}

#body {
  margin: auto;
  max-width: 960px;
}

#seal_speech {
  font-family: Helevetica, Arial, sans-serif;
  font-weight: bold;
  font-size: .2px;
  text-align: center;
}
